@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'bungeeregular';
    src: url('/fonts/bungee-regular-webfont.woff2') format('woff2'),
    url('/fonts/bungee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 

}

@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('/fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
    url('/fonts/alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
.text-shadow {
    text-shadow: 2px 2px 0 #000000, /* Black shadow */ 4px 4px 2px rgba(0, 0, 0, 0.5);
}
