@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Level Up';
    src: url('/fonts/Levelup.woff2') format('woff2'), /* Preferred for modern browsers */ url('/fonts/Levelup.woff') format('woff'), /* Fallback for older browsers */ url('/fonts/Levelup.ttf') format('truetype'); /* Last-resort fallback */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.text-shadow {
    text-shadow: 2px 2px 0 #000000, /* Black shadow */ 4px 4px 2px rgba(0, 0, 0, 0.5);
}
